:root {
    --primary: hsl(259, 43%, 50%);
    --primary-bg: hsl(259, 20%, 30%);
    --bg-dark: hsl(240, 5%, 5%);
    --bg: hsl(240, 5%, 10%);
    --bg-light: hsl(240, 5%, 15%);
    --text: hsl(0, 0%, 90%);
    --text-muted: hsl(0, 0%, 70%);
    --border: hsl(0, 0%, 30%);
    --gold: hsl(46, 65%, 52%);
    --gold-shadow: hsl(44, 67%, 37%);
    --silver: hsl(0, 0%, 75%);
    --silver-shadow: hsl(0, 0%, 54%);
    --bronze: hsl(30, 61%, 50%);
    --bronze-shadow: hsl(32, 61%, 34%);
}

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle, var(--primary-bg), var(--bg-dark));
}

header {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 85vh;
}

h1 {
    margin: 0;
    color: var(--primary);
    text-align: center;
    font-size: 3rem;
    font-family: "Fraunces", sans-serif;
}

#searchContainer {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    flex-direction: column;
}

#songInput {
    width: 40%;
    height: 20%;
    background: linear-gradient(to top, var(--bg), var(--bg-light));
    border: solid 3px var(--primary);
    border-radius: 15px;
    text-indent: 5%;
    color: var(--text-muted);
    box-shadow: 4px 4px 10px var(--bg-light);
    font-family: "Inter", sans-serif;
}
#songInput:focus {
    outline: none;
    color: var(--text);
}
#songInput::placeholder {
    color: var(--text-muted);
    font-family: "Inter", sans-serif;
}

#submitBtn {
    width: 10%;
    height: 25%;
    background: linear-gradient(to top, var(--bg), var(--bg-light));
    border: solid 3px var(--primary);
    border-radius: 15px;
    color: var(--text);
    box-shadow: 4px 4px 10px var(--bg-light);
    font-family: "Inter", sans-serif;
}
#submitBtn:hover {
    background: var(--primary-bg);
}
#submitBtn:active {
    background: var(--primary);
    transform: translateY(3px);
    box-shadow: none;
}

#results {
    height: 70%;
    display: flex;
    gap: 5%;
    justify-content: center;
}

.result {
    width: 20%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to top right, var(--bg), var(--bg-light));
    border: solid 3px var(--border);
    border-radius: 15px;
}

.resultImg {
    width: 60%;
    height: auto;
    margin-top: 5%;
}

.resultName {
    color: var(--text);
    margin-top: 7%;
    margin-bottom: 0;
    font-size: 1.2rem;
    font-family: "Inter", sans-serif;
}

.resultArtist {
    color: var(--text-muted);
    margin-top: 2%;
    font-family: "IBM Plex Mono", sans-serif;
}

#result1, #result2 {
    margin-top: 5%;
}

#result1 {
    order: -1;
}

#result0 {
    border-color: var(--gold);
    box-shadow: 0px 2px 5px var(--gold-shadow);
}
#result1 {
    border-color: var(--silver);
    box-shadow: 0px 2px 5px var(--silver-shadow);
}
#result2 {
    border-color: var(--bronze);
    box-shadow: 0px 2px 5px var(--bronze-shadow);
}

#allResultsBtn {
    display: none;
    position: fixed;
    width: 10%;
    height: 5%;
    left: 45%;
    bottom: 5%;
    background: none;
    border: none;
    color: var(--text-muted);
    text-decoration: underline;
    padding: 0;
}
#allResultsBtn:hover {
    color: var(--text);
}

#allResultsContainer {
    display: none;
    position: absolute;
    top: 5%;
    width: 50%;
    height: 90%;
    left: 25%;
    background: linear-gradient(to top, var(--bg-dark), var(--bg));
    border: solid 3px var(--border);
    border-radius: 15px;
}

#closeBtn {
    color: var(--text-muted);
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    font-size: 2rem;
    font-weight: 100;
}
#closeBtn:hover {
    color: var(--text);
}

#allResults {
    display: flex;
    flex-direction: column;
    gap: 2%;
    width: 97.5%;
    height: 94%;
    margin-top: 5%;
    margin-left: 2.5%;
    overflow-y: scroll;
    scrollbar-color: var(--bg-light) transparent;
}

.resultAll {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    height: 15%;
    background-color: var(--bg-light);
    border: solid 3px var(--border);
    border-radius: 15px;
}

.resultNameAll, .resultPlace {
    color: var(--text);
}

.resultImgAll {
    height: 90%;
    width: auto;
}

.resultArtistAll {
    color: var(--text-muted);
    margin-left: 9%;
    font-family: "IBM Plex Mono";
}

.resultPlace {
    width: 5%;
    font-size: 2rem;
    margin: 0 5%;
}

.resultNameAll {
    margin-left: 5%;
    font-size: 1.2rem;
    margin-bottom: 0;
    font-family: "Inter", sans-serif;
}

.resultTextAll {
    width: 50%;
}